In [1]:
from zipfile import ZipFile
from urllib.request import urlopen   
import pandas as pd
import os

URLs = ['https://s3.amazonaws.com/tripdata/201801-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/201802-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/201803-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/201804-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/201805-citibike-tripdata.csv.zip']
       

# open and save the zip file onto computer
dfs=[]
for URL in URLs:
# open and save the zip file onto computer
    url = urlopen(URL)
    output = open('zipFile.zip', 'wb')    # note the flag:  "wb"        
    output.write(url.read())
    output.close()

# read the zip file as a pandas dataframe
    df = pd.read_csv('zipFile.zip')      
    dfs.append(df)

In [2]:
dfs[0].head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,196,2018-01-01 00:01:51,2018-01-01 00:05:07,315,South St & Gouverneur Ln,40.703554,-74.006702,259,South St & Whitehall St,40.701221,-74.012342,18534,Annual Membership,Subscriber,1997.0,1
1,207,2018-01-01 00:02:44,2018-01-01 00:06:11,3224,W 13 St & Hudson St,40.739974,-74.005139,470,W 20 St & 8 Ave,40.743453,-74.000040,19651,Annual Membership,Subscriber,1978.0,1
2,613,2018-01-01 00:03:15,2018-01-01 00:13:28,386,Centre St & Worth St,40.714948,-74.002345,2008,Little West St & 1 Pl,40.705693,-74.016777,21678,Annual Membership,Subscriber,1982.0,1
3,375,2018-01-01 00:06:44,2018-01-01 00:12:59,466,W 25 St & 6 Ave,40.743954,-73.991449,325,E 19 St & 3 Ave,40.736245,-73.984738,29822,Annual Membership,Subscriber,1982.0,1
4,402,2018-01-01 00:06:57,2018-01-01 00:13:40,438,St Marks Pl & 1 Ave,40.727791,-73.985649,380,W 4 St & 7 Ave S,40.734011,-74.002939,30722,Annual Membership,Subscriber,1989.0,1

In [5]:
dfs[1].head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,509,2018-02-01 00:00:04,2018-02-01 00:08:34,3458,W 55 St & 6 Ave,40.763094,-73.978350,422,W 59 St & 10 Ave,40.770513,-73.988038,30139,Annual Membership,Subscriber,1989.0,1
1,513,2018-02-01 00:00:15,2018-02-01 00:08:49,459,W 20 St & 11 Ave,40.746745,-74.007756,380,W 4 St & 7 Ave S,40.734011,-74.002939,30046,Annual Membership,Subscriber,1989.0,1
2,516,2018-02-01 00:00:16,2018-02-01 00:08:52,459,W 20 St & 11 Ave,40.746745,-74.007756,380,W 4 St & 7 Ave S,40.734011,-74.002939,31062,Annual Membership,Subscriber,1990.0,1
3,196,2018-02-01 00:00:16,2018-02-01 00:03:32,3318,2 Ave & E 96 St,40.783964,-73.947167,3351,E 102 St & 1 Ave,40.786995,-73.941648,32204,Annual Membership,Subscriber,1958.0,2
4,491,2018-02-01 00:00:20,2018-02-01 00:08:31,499,Broadway & W 60 St,40.769155,-73.981918,3167,Amsterdam Ave & W 73 St,40.779668,-73.980930,15907,$25 Off Annual Membership,Subscriber,NaN,0

In [6]:
dfs[2].head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,455,2018-03-01 00:00:03,2018-03-01 00:07:39,405,Washington St & Gansevoort St,40.739323,-74.008119,368,Carmine St & 6 Ave,40.730386,-74.002150,17629,Annual Membership from Citi Bike App,Subscriber,1993.0,1
1,486,2018-03-01 00:00:06,2018-03-01 00:08:12,146,Hudson St & Reade St,40.716250,-74.009106,363,West Thames St,40.708347,-74.017134,31491,Annual Membership,Subscriber,1954.0,1
2,333,2018-03-01 00:00:07,2018-03-01 00:05:41,257,Lispenard St & Broadway,40.719392,-74.002472,361,Allen St & Hester St,40.716059,-73.991908,31991,FREE Bonus Month with Annual Membership,Subscriber,1986.0,1
3,1629,2018-03-01 00:00:21,2018-03-01 00:27:31,3556,24 St & 41 Ave,40.752709,-73.939740,3532,Ditmars Blvd & 19 St,40.781450,-73.918330,18265,Annual Membership,Subscriber,1990.0,1
4,64,2018-03-01 00:00:32,2018-03-01 00:01:37,515,W 43 St & 10 Ave,40.760094,-73.994618,3236,W 42 St & Dyer Ave,40.758985,-73.993800,27697,Annual Membership,Subscriber,1985.0,1

In [7]:
dfs[3].head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,1418,2018-04-01 00:00:00,2018-04-01 00:23:39,3518,Lenox Ave & W 126 St,40.808442,-73.945209,3529,Lenox Ave & W 130 St,40.810792,-73.943068,31443,Join Citi Bike for $14.95/month,Subscriber,1993.0,1
1,377,2018-04-01 00:00:05,2018-04-01 00:06:22,3263,Cooper Square & Astor Pl,40.729515,-73.990753,301,E 2 St & Avenue B,40.722174,-73.983688,27229,Annual Membership - Save 15%,Subscriber,1993.0,1
2,486,2018-04-01 00:00:24,2018-04-01 00:08:30,3110,Meserole Ave & Manhattan Ave,40.727086,-73.952991,3085,Roebling St & N 4 St,40.714690,-73.957390,30806,Annual Membership,Subscriber,1994.0,2
3,447,2018-04-01 00:00:33,2018-04-01 00:08:00,3016,Kent Ave & N 7 St,40.720368,-73.961651,3469,India St & West St,40.731814,-73.959950,18725,Annual Membership,Subscriber,1986.0,2
4,677,2018-04-01 00:00:51,2018-04-01 00:12:08,251,Mott St & Prince St,40.723180,-73.994800,302,Avenue D & E 3 St,40.720828,-73.977932,25419,NYCHA Membership (Renewal),Subscriber,1996.0,2

In [8]:
dfs[4].head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,303,2018-05-01 00:00:11,2018-05-01 00:05:15,491,E 24 St & Park Ave S,40.740964,-73.986022,2003,1 Ave & E 18 St,40.733812,-73.980544,32191,$25 Off Annual Membership,Subscriber,1984.0,1
1,700,2018-05-01 00:00:36,2018-05-01 00:12:16,507,E 25 St & 2 Ave,40.739126,-73.979738,3458,W 55 St & 6 Ave,40.763094,-73.978350,29357,Annual Membership,Subscriber,1996.0,1
2,443,2018-05-01 00:00:40,2018-05-01 00:08:04,3263,Cooper Square & Astor Pl,40.729515,-73.990753,546,E 30 St & Park Ave S,40.744449,-73.983035,27255,Annual Membership,Subscriber,1969.0,1
3,297,2018-05-01 00:00:43,2018-05-01 00:05:41,532,S 5 Pl & S 5 St,40.710451,-73.960876,3096,Union Ave & N 12 St,40.719240,-73.952420,16980,Annual Membership,Subscriber,1985.0,1
4,421,2018-05-01 00:01:01,2018-05-01 00:08:02,3493,E 118 St & 3 Ave,40.799139,-73.938915,3351,E 102 St & 1 Ave,40.786995,-73.941648,30645,Annual Membership,Subscriber,1986.0,1

In [10]:
df.shape

(1824658, 16)

In [11]:
df.to_csv('Data/citibike_2018.csv', encoding='utf-8', index=False)